* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-image: url(../images/bg.jpg);
    background-repeat: repeat;
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
    font-size: 1em;
    color: #CCCCCC;
}

a {
    text-decoration: none;
    color: #fff;
}

a:focus {
    outline: none;
    /*清除轮廓*/
}

.menuBar {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 1px 0px 5px #000;
}

.menu {
    height: 40px;
    display: block;
    padding: 0px;
    width: 780px;
    margin: 0 auto;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    /* width and height of the menu items */
    float: left;
    overflow: hidden;
    position: relative;
    line-height: 40px;
    text-align: center;
}

.menu ul li a {
    /* must be postioned relative  */
    position: relative;
    display: block;
    width: 120px;
    height: 40px;
    font-family: "微软雅黑";
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
}

.menu ul li a span {
    position: absolute;
    left: 0;
    width: 120px;
}

.menu ul li a span.out {
    top: 0px;
}

.menu ul li a span.over {
    top: -40px;
}

#menu2 {
    background: #000;
}

#menu2 ul li a {
    color: #fff;
}

#menu2 ul li a span.over {
    color: #000;
    background-color: #f0f0f0;
}

#menu2 img {
    width: 40px;
    height: 40px;
    float: left;
    position: absolute;
    left: 130px;
    top: 0;
}

.login {
    position: absolute;
    right: 100px;
    top: 0;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 1em;
    font-family: "微软雅黑";
    background-color: #000;
    display: inline-block;
}

#shape {
    stroke-width: 0;
    fill: transparent;
    stroke: #fff;
    stroke-dasharray: 50 400;
    stroke-dashoffset: -220;
    transition: 1.5s all ease;
}

.spot {
    width: 100%;
    height: 100%;
}

#text {
    margin-top: -55px;
    text-align: center z-index: 10;
}

#text a {
    color: #fff;
}

.login:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #fff;
}

.banner {
    margin-top: 60px;
    width: 600px;
    height: 340px;
    overflow: hidden;
    position: relative;
    left: 60px;
}

.banner .img img {
    width: 600px;
    height: 340px;
}

.banner .img {
    width: 5000px;
    position: absolute;
    top: 0;
    /*left: 0px;*/
}

.banner .img li {
    float: left;
}

.banner .num {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 180px;
    text-align: center;
    font-size: 0px;
}

.newsTitle {
    position: absolute;
    bottom: 30px;
    color: #fff;
    font-size: 1em;
    font-family: "幼圆";
}

.banner .num li {
    width: 10px;
    height: 10px;
    background-color: #cccccc;
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px;
    cursor: pointer;
}

.btn {
    width: 30px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    color: #fff;
    font-size: 40px;
    margin-top: -25px;
    font-family: "宋体";
    display: none;
}

.banner:hover .btn {
    display: block;
}

.btn_l {
    left: 0;
}

.btn_r {
    right: 0;
}

.banner .num .on {
    background-color: #474747;
}

.news {
    position: absolute;
    right: 40px;
    top: 60px;
    /*width: 600px;*/
    height: 300px;
}

.news a.firstA {
    font-size: 1.5em;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    margin: 20px 0;
}

.news a {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 1.1em;
    color: #fff;
}

a:hover {
    color: #406AFD;
}

hr {
    border: none;
    height: 1px;
    margin: 15px auto;
    background-color: #000;
    width: 95%;
}

.mianContent {
    width: 100%;
}

.newsCards {
    float: left;
    margin-left: 100px;
    margin-bottom: 20px;
    width: 260px;
    background-color: #212121;
    color: #8D8D8D;
    padding: 25px 25px 25px 25px;
    border: 1px solid #AAAAAA;
}

.cardsImg {
    width: 260px;
    height: 160px;
    position: relative;
    overflow: hidden;
}

.newsCards img {
    width: 260px;
    height: 160px;
    display: block;
    transition: all 1s;
}

.newsCards:hover img {
    transform: scale(1.1, 1.1);
}

.newsCards:hover {
    background-color: #484848;
    transition: all 1s;
    box-shadow: 5px 5px 5px 5px #172958;
}

.newsCards h2 {
    line-height: 26px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(51, 51, 51);
}

.newsCards p {
    display: block;
    line-height: 20px;
    font-size: 14px;
    margin-top: 20px;
}

.copyright {
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #000;
    color: #999999;
    margin-top: 10px;
    float: left;
    text-align: center;
    font-family: Consolas;
    font-size: 1.2em;
    font-style: italic;
}

#back-to-top.show {
    opacity: 1;
}

#back-to-top {
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 10；
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    background: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    opacity: 0;
    transition: opacity .2s ease-out;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#back-to-top img {
    width: 40px;
    height: 40px;
}
