
@{
    ViewBag.Title = "Laws";
}


<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="thisbody" style="background:#d7edfb; background-repeat: repeat; ">
    <link href="~/Scripts/css/sports.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/css/home.css" rel="stylesheet" type="text/css" />
    <div class="channel">
        <div class="logo"><img src="~/Image/Logo/politics.png" style="border-color: #FFFC00"></div>
        <div class="channelName" style="color: #FFFC00">时政频道</div>
        <h2>滚动更新全球各地新闻资讯，在碎片化信息中发现世界趋势。</h2>
    </div>

    <hr style="background-color:#47cffe">
    <div style="width:100%;background-color:#d7edfb">
        <div class="mainContent" style="background-color: #d7edfb;" id="mainContent">
            <div style="font-size:40px;font-weight:200;"><span>新闻速递</span></div>
            <div class="con">
                <ul class="newsList" >
                    @foreach (var item in Model)
                    {
                        <li style="        background-color: #d1efff
" class="xxxmylist">
                            <div class="image">
                                <a href="/XGJNewsContent/Index/@item.NewsId">

                                    <img src="~/@item.ImageURL" />
                                </a>
                            </div>
                            <div class="text-con">

                                <h3 class="title"><a target="_blank" href="/XGJNewsContent/Index/@item.NewsId">@item.NewsTitle</a></h3>
                                <p class="brief">
                                    <a href="/XGJNewsContent/Index/@item.NewsId" target="_blank">
                                        @item.NewsDescribed
                                    </a>
                                </p>
                                <div class="bottom1">
                                    <span class="date">@item.ReleaseTime</span>
                                    <span class="keywords">@item.NewsKeywords.Replace(',', ' ')</span>
                                </div>
                            </div>
                        </li>

                    }

                </ul>

            </div>
        </div>
    </div>
    <a href="#" id="back-to-top" title="回到顶部"><img src="~/Image/XGJImages/rockets.png"></a>
    <script src="~/Scripts/home.js">
    </script>
    <script>

        $(".xxxmylist").mouseenter(function () {
            $(this).css("background-color", "#97bfda");
        });



        $(".xxxmylist").mouseleave(function () {
            $(this).css("background-color", "#d1efff");
        });


    </script>
</div>

