@model AspNews.Models.cjl.NewsDb
@{
    ViewBag.Title = "Index";
}
<title>News</title>
<link href="~/Scripts/home.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="~/Scripts/news.css">

<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<!-- 标题栏 -->
<div class="newsContent">
    <div class="main">
        <div class="link" style="text-align: left;padding-left: 28px;margin-bottom: 40px">
            <a href="../home.html">首页</a>><a href="../entertainment.html">娱乐</a>
        </div>
        <h1 style="font-family: 微软雅黑;    font-size: 30px; font-weight: normal; color: #fff">“接地气”的《欢乐颂2》，到底反映了谁的生活</h1>
        <hr style="margin: 40px 0">
        <p>本来是不打算看《欢乐颂2》的，毕竟我连第一部都不喜欢。但铺天盖地的营销和急转直下的口碑产生的反差，倒是刺激了我的好奇神经。这一看不得了，《欢乐颂2》确实比第一部更加“可圈可点”。</p>
        <p>第一部的优点被弱化，但缺点得到了彻底放大。本来，《欢乐颂》崇尚的是不同类型，不同阶层的女性，因为各自的能力、个性和内心魅力，走到一起成为朋友，互相理解共同成长的故事。</p>
        <p>到了这第二部，我已经彻底无法感知她们的能力和魅力，也不能理解她们的友谊，只剩下五彩斑斓到近乎分裂的个性，故事也彻底沦落为婆婆妈妈奇葩热点话题大杂烩。</p>
        <p>我一度有种错觉——“微博各种树洞吐槽君发布的离奇经历翻拍成电视剧了？”</p>
        <img src="http://image.thepaper.cn/wap/image/5/787/904.jpg">
        <p style="text-align: center;font-family: 宋体;margin-top: 5px;">勇士专门为这次见面制作的海报。 图片来源：新浪</p>
        <p>
            首先，五个姑娘的工作部分被彻底弱化。安迪的工作场合，基本上是用来作为场景谈恋爱的，樊胜美的工作场景，也是为了给下一个追求者铺路的。
        </p>
        <p>
            所有的描写浮于表面，蜻蜓点水，除了旁白和其他人的台词在不停强调安迪是华尔街出身的精英，樊胜美转行表现出色之外，没有任何一个有说服力的证据。
        </p>
        <p>当然，有人会说了，人家《欢乐颂2》就不能偏重描写生活？好，我们来看看《欢乐颂2》到目前为止给我们展现的生活。</p>
        <p>安迪，除了可能有点精神病问题以外，是个彻底完美的人物。她每一集的任务有两个，第一个就是配合可怕的插曲拍青春偶像MV，接受包奕凡近乎性骚扰的追求。</p>
        <p>饰演包奕凡的杨烁彻底在撩妹的邪路上跑远，完全分不清挤眉弄眼的油腻感和暗送秋波的恋爱感的巨大差别，时时刻刻散发着各类通稿中所谓的“雄性荷尔蒙”（杨烁为了突出酒窝也是拼了）。</p>
        <img src="http://image.thepaper.cn/wap/image/5/787/905.jpg">
        <p>然而两个人之间，依旧是零化学反应，包奕凡和安迪的CP感，还比不过常常只出现在电话和传话中的谭宗明。</p>
        <img src="http://image.thepaper.cn/wap/image/5/787/906.gif">
        <p>安迪另一个任务，就是收拾22楼的各种烂摊子。曲筱绡的嘴贱要圆、关雎尔的感情事业要操心、樊胜美的未来要牵线、邱莹莹的脑抽要担待，时不时地还要当个司机。</p>
        <p>原本高冷理性的人设，彻底变成了圣母老妈子人设，这样看来她也确实没时间工作了。不，编剧说了，安迪是华尔街精英，管他有没有时间工作，她都必须是。</p>
        <p>第一部存在的角色流于刻板印象的问题，到了第二部更是得到了升华。安迪像是上帝一样俯瞰着剧中的芸芸众生，看着他们展现出生活最刻板最可怕的模样。</p>
        <p>原生家庭一般的女人是孤独而无自我的，她们急需一个男人依靠，并可以为此不择手段。</p>
        <p>这个点主要由我们的樊胜美和邱莹莹来展现。樊胜美明明拥有收入不错的工作，出色的外貌和能力，第一部也算剖开了自己最大的伤疤重新开始了，结果这样一个独自拼搏独立能干的人，到了第二部，彻底变成了一个寄生虫，把一切改变现状的压力都转嫁给了自己的男朋友王柏川，王柏川出任何问题，便冷嘲热讽痛哭卖惨。</p>
        <p>一边要求王柏川拼死拼活，一边要求他时刻陪伴帮自己解决问题。</p>
        <img src="http://image.thepaper.cn/wap/image/5/787/918.jpg">
        <p>第二部中的樊胜美，我倒觉得可以改个名字，直接叫“烦”胜美得了。</p>
        <p>邱莹莹则是将所有的感情寄托在男人身上，一旦“男人”出了问题，便跟疯狗一样无差别攻击，到处乱咬。</p>
        <p>女人的友谊是最脆弱的，任何一个男人的介入，都会让这段友谊分崩离析。</p>
        <p>谁来顶这个锅呢，自然还是我们的樊胜美和邱莹莹。王柏川生意失败，让安迪帮忙隐瞒，结果两人闹分手，樊胜美怪的是一直在帮助自己的安迪；邱莹莹因为不是处女被男友应勤嫌弃，邱莹莹怪的是不小心说漏嘴最后还帮她出头的曲筱绡，甚至要破坏曲筱绡的感情予以报复</p>
        <img src="http://image.thepaper.cn/wap/image/5/787/908.jpg">
        <p>
            这种友谊，够难看了吧。
        </p>
        <p>
            当然曲筱绡也不是省油的灯，打着帮朋友“考验男友”的旗号，不打任何招呼便暗中调查、明着勾引，这不是“为朋友好”，只是想撕碎他人的不堪满足自己的虚荣心罢了。 好在曲筱绡还是深受剧本偏爱的，第二部的刻画，已经比第一部显得可爱多了，虽然这个转变也有些不真实。
        </p>
        <p>
            剧中的中年女人只关注三件事：狐狸精、财产和儿子。 剧中出现的中年女性，基本逃不出这三件事儿。 樊胜美母亲：儿子 曲筱绡母亲：财产 魏国强妻子：狐狸精和财产 包奕凡母亲：狐狸精、财产和儿子 不论知识层面高低，能力高低，面对这几样东西，所有女性最终都呈现出一副张牙舞爪的泼妇模样。
        </p>
        <img src="http://image.thepaper.cn/wap/image/5/787/909.gif">
        <p style="text-align: center;font-family: 宋体;margin-top: 5px;">魏国强妻子不分青红皂白“打小三”（后期还想开车撞安迪……）</p>
        <p>包奕凡曾经说过自己的母亲非常坚强，也是这种坚强让他们家的生意做到现在的规模，结果这样一个坚强果敢的女性，无法明辨是非，只会听风就是雨。最后祭出老三套——“一哭二闹三上吊”。</p>
        <img src="http://image.thepaper.cn/wap/image/5/787/910.gif">
        <p>要不是赵启平母亲的出现，这部剧的中年女性人群就算是彻底沦陷了。</p>
        <p>
            体现x格的方式，依然是“尬”英语。 前段时间关雎尔的相亲对象舒展火了，因为他一听说和关雎尔同行的两位朋友是海归，便肆无忌惮地“尬”起了英语。
        </p>
        <img src="http://image.thepaper.cn/wap/image/5/787/911.jpg">
        <p>
            First of all……这个据说很有“腔调”的人，跟初次见面的friends甩了这么一句开场白，够rude了吧。接下来的对话中都夹杂了pronunciation和断句都十分horrible的English。观众是什么感觉？就是你们读这段文字的感觉。 这种情形，片中出现了不止一次，曲筱绡谈着项目合作，对面突然飙起了英文。
        </p>
        <img src="http://image.thepaper.cn/wap/image/5/787/912.jpg">
        <p>这位徐工问了一堆毫无关系的问题之后，连曲筱绡公司的项目和介绍都不看，便断定这家公司的资质不行。其实，徐工，你的英文发音还没有曲筱绡好呢……</p>
        <p>乖乖女=没有魅力，没有眼界。</p>
        <p>
            关于关雎尔，有一点我一直不太理解，就是她的戏份特别少。倒是我的朋友点醒了我——“你傻啊，她没对象啊，哪来的戏份？”这一句话醍醐灌顶，对哦，在《欢乐颂2》里，没对象等于没戏份啊。 所以摇滚男友上线后，关关的戏码立刻蹭蹭蹭。 可怕的是，以上这些还不是全部……
        </p>
        <p>
            《欢乐颂2》的剧本（当然跟原著也很有关系）组合方式很简单。 人设：不同阶层找一类人，把各自的刻板印象往上堆。 事业：主要靠旁白和他人评价这种侧面描写。 刘涛演绎安迪时这种提高声调，有气无力的台词表现，并不能说服我她是个海归精英。这在声乐上，就是典型的喉位不稳，声带运动不充分……结果就是声音没有力量和表现力。英文……就更不用我说了吧，词汇还没那舒展多呢，基本就是hello、so、oh my god之流。 爱情：围绕一件事儿，来来回回反反复复折腾，隔两分钟就放插曲拖时间注水。为了防止大家审美疲劳，剧组准备了20来首插曲，轮着播……我提个意见，不会唱歌的主演就不要唱插曲了，五音不全就别揽这瓷器活了成吗？
        </p>
        <p>话题：曾经的论坛、博客、微博热门话题往上堆啊！ 靠谱点的给安迪、曲筱绡和关关，“作死”的就给樊胜美和邱莹莹，管她们个性分不分裂呢，话题度面前，人设什么的就是浮云！</p>
        <img src="http://image.thepaper.cn/wap/image/5/787/915.jpg">
        <p style="text-align: center;font-family: 宋体;margin-top: 5px;">内涵：撕破“假大空”的“现实”，再补上一些特别让人受用的“鸡汤”。</p>
        <p>《欢乐颂2》传达的价值观是膈应人的，所有普通阶层对生活的小追求都被描写得不堪，所有原生家庭的问题到这里成了“原罪”，安迪这位站不住脚的精英和她的男友们以近乎冷血的眼光评判着普通人的选择和人生，曲筱绡在“直率”的保护伞下，可以全然不顾他人感受。然后你告诉我，这就是现实？这就是接地气？</p>
        <p>
            再看看这几位的友谊： 在樊胜美、邱莹莹、关雎尔的眼里，曲筱绡是倒贴的麻烦精；在曲筱绡眼里，樊胜美是势利的“捞女”，邱莹莹是“脑残”；在安迪和她的男友眼里，樊胜美是虚荣而自欺欺人的，安迪是完美的，曲筱绡算是差强人意。
        </p>
        <img src="http://image.thepaper.cn/wap/image/5/787/916.jpg">
        <p>更精彩的是，邱莹莹因为应勤的“处女情结”伤心难过，结果直接对曲筱绡和赵启平发飙了。</p>
        <p>这种程度上的“直率”侮辱，她们依旧隔天做回好朋友，也是令人费解。不过毕竟编剧是个全能的人物，她们的过激行为最终都归结为“单纯直率”。</p>
        <p>说到底，这几个人，本来，就不可能成为朋友。</p>
    </div>
    <hr style="margin-bottom: 50px;">
    <p style="text-align: left;padding-left: 40px;font-size: 1.2em;color: #fff">更多新闻></p>
    <!-- 选项卡 -->
    <div id="notice" class="notice">
        <div id="title" class="title">
            <ul>
                <li class="select">
                    <a href="#">要闻</a>
                </li>
                <li>
                    <a href="#">体育</a>
                </li>
                <li>
                    <a href="#">科技</a>
                </li>
                <li>
                    <a href="#">娱乐</a>
                </li>
                <li>
                    <a href="#">游戏</a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="mod">
                <ul>
                    <li>
                        <a href="http://news.163.com/17/0605/09/CM5J5RQ4000189FH.html">这件事 习近平和你一样一直努力着</a>
                    </li>
                    <li>
                        <a href="http://news.ifeng.com/a/20170605/51196876_0.shtml">第七国！马尔代夫政府宣布与卡塔尔断交</a>
                    </li>
                    <li>
                        <a href="http://www.sohu.com/a/146186450_120809">教育部：高考4大谣言、6大骗局千万别信</a>
                    </li>
                    <li>
                        <a href="#">郭台铭放话：未来电子商务平台可能会消失！</a>
                    </li>
                </ul>
            </div>
            <div class="mod" style="display: none;">
                <ul>
                    <li>
                        <a href="http://www.thepaper.cn/newsDetail_forward_1700866">勇士19分再胜骑士,季后赛14连胜创纪录!</a>
                    </li>
                    <li>
                        <a href="http://sports.qq.com/a/20170604/001499.htm">欧冠-皇马4-1胜尤文第12次捧杯 C罗梅开二度</a>
                    </li>
                    <li>
                        <a href="http://sports.163.com/17/0605/07/CM5A0V6900058782.html">德约连续八年进法网八强会师蒂姆 拉奥长盘落败</a>
                    </li>
                    <li>
                        <a href="http://sports.qq.com/vo/#/cover/82wx0lgzg172bug/i0023v4qzdi">白岩松专访梅西：阿根廷夺世界杯我剃须</a>
                    </li>
                </ul>
            </div>
            <div class="mod" style="display: none;">
                <ul>
                    <li>
                        <a href="http://mobile.163.com/17/0605/01/CM4LH40O00118017.html">软硬件更新齐登场 苹果WWDC17新品前瞻</a>
                    </li>
                    <li>
                        <a href="http://tech.163.com/17/0605/09/CM5GSI3E00097U7R.html">顺丰控股：已与菜鸟达成共识 有关事件已妥善解决</a>
                    </li>
                    <li>
                        <a href="http://www.dgtle.com/article-18245-1.html">某文具品牌主理人的EDC</a>
                    </li>
                    <li>
                        <a href="http://www.keke289.com/news/18417.html">618天猫反客为主，京东员工感叹太大力度</a>
                    </li>
                </ul>
            </div>
            <div class="mod" style="display: none;">
                <ul>
                    <li>
                        <a href="http://ent.163.com/17/0605/12/CM5SP72J000380D0.html">扎克·施奈德力挺《神奇女侠》： "骄傲！"</a>
                    </li>
                    <li>
                        <a href="http://ent.163.com/17/0605/13/CM60CLC500037VVV.html">罗志祥快男现场遭选手吐槽“太业余”</a>
                    </li>
                    <li>
                        <a href="http://app.sun0769.com/mobilesun/dgygw/zx/yl/201706/t20170604_7412757.htm">王心凌内衣外穿秀性感身材 只是脸太僵！</a>
                    </li>
                    <li>
                        <a href="http://ent.163.com/17/0605/14/CM62E3HH00037VVV.html">林更新：和王思聪不是亲戚 “贫富差距”压力大</a>
                    </li>
                </ul>
            </div>
            <div class="mod" style="display: none;">
                <ul>
                    <li>
                        <a href="http://lpl.qq.com/es/news_detail.shtml?nid=9413">LPL夏季赛赛程公布 揭幕战RNGvsOMG</a>
                    </li>
                    <li>
                        <a href="http://games.qq.com/a/20170605/000135.htm#p=1">魔兽世界回忆录：屠城往事 难以忘怀</a>
                    </li>
                    <li>
                        <a href="http://games.sina.com.cn/ol/n/dlwyxw/2017-06-04/fyfuzmy1648406.shtml">CS：GO Minor 亚洲锦标赛解说与你讲述电竞之路</a>
                    </li>
                    <li>
                        <a href="http://dota2.dj.sina.com.cn/2017-06-02/fyfuzny2463487.shtml">DOTA2震中杯2017开战在即：四大看点罗列</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copyright">©2017 News-Team All rights reserved.</div>
<a href="#" id="back-to-top" title="回到顶部">
    <img src="~/Image/XGJImages/rockets.png">
    <!-- <p style="margin-top:-15px;padding: 0;font-size: 14px;color: #000;">回到顶部</p> -->
</a>
<script src="~/Scripts/home.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        var titles = $(".title li");
        var mods = $(".mod");
        var s = 0;
        titles.mouseover(function () {
            var index = $(this).index();
            $(this).addClass("select").siblings().removeClass("select");
            mods.eq(index).css("display", "block").siblings().css("display", "none");
            s = index;
        })


        function autoPlay() {
            s++;
            if (s == mods.length) {
                s = 0;
            }
            $(".title li").eq(s).addClass("select").siblings().removeClass("select");
            mods.eq(s).css("display", "block").siblings().css("display", "none");
        }

        var t = setInterval(autoPlay, 3000);

        titles.hover(function () {
            clearInterval(t);
        }, function () {
            t = setInterval(autoPlay, 3000)
        });
        mods.hover(function () {
            clearInterval(t);
        }, function () {
            t = setInterval(autoPlay, 3000)
        });
    })
</script>



